@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
  font-family: "Arial Rounded MT Bold", sans-serif;
}

.section-text {
  font-size: 18px;
  text-align: left;
  color: rgb(101, 101, 101);
}
