.Index {
  .title-container {
    background-color: rgb(75, 159, 153);
    color: white;

    .title {
      margin: 0;
      padding: 0.5rem;
    }
  }

  .section-text {
    h2 {
      padding-top: 10px;
      color: rgb(94, 24, 125);
    }
  }
}
